/* styles.css */
/*Body*/
body{
    background-color: #eaf1fc;
    margin: 0;
    padding: 0;
    font-family: Raleway;
}


/* navbar css */

nav{
    top: 0;
    background: #2c3e50;
    width: 100%;
    z-index: 1000;
    position: fixed;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    font-family: Noto Sans;
    color: #05051f;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  label.logo{
    
    font-size: 24px;
    line-height: 80px;
    padding-left: 40px;
    font-weight: bold;
  }

  .logo a{
    text-decoration: none;
    color: #FFFFFF;
    text-transform: uppercase;
    font-family: Noto Sans;
    letter-spacing: 0.03em;
  }

  .logo a:hover{
    color: #00BFFF;
    transition: all 0.2s ease-in-out;
  }
  nav ul{
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  
  .main-links{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  nav ul li{
    list-style-type: none;
  }


  .list-items {
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.05em;
    padding:5px 16px;
    margin: 0px 8px;
    color: #bab9b9;
    display: block;
    position: relative;
    font-weight: 550;
    font-size: 14px;
  }

  .list-items:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background:#00BFFF;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
  }

 .list-items:hover:after { 
    width: 100%; 
    left: 0; 
  }

  .list-items:hover{
    transition: all 0.2s ease-in-out;
    color: #FFFFFF;
  }
  .checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
  }

  .login-logout{
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style-type: none;
    padding-right: 40px;
}

.login-items{
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.05em;
    padding:5px 16px;
    margin:0 8px;
    color: #bab9b9;
    display: inline-block;
    position: relative;
    font-weight: 600;
    font-size: 14px;
}

#cart{
    color: #bab9b9;
    font-size: 26px;
    margin-right: 10px;
}
#cart:hover{
    color: #FFFFFF;
    transition: all 0.2s ease-in-out;
}

.login-items:hover{
    color:  #00BFFF;
    transition: all 0.2s ease-in-out;
}

#signin-btn{
    background-color: #00BFFF;
    color: #FFFFFF;
    padding: 12px 16px;
    border-radius: 8px;
}

#signin-btn:hover{
    background-color: #009acd;
    transition: all 0.3s ease-in-out;
}

#check{
    display: none;
  }

  section{
    display: none;
  }

.cart-icon-mobile{
    display: none;
}

.cart-text{
    display: none;
}

@media (max-width: 858px){
      nav{
        top: 0;
        background: #2c3e50;
        width: 100%;
        z-index: 1000;
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-family: Noto Sans;
        color: #05051f;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
    
      label.logo{
        font-size: 24px;
        line-height: 80px;
        padding: 0;
        font-weight: bold;
      }
    
      .logo a{
        text-decoration: none;
        color: #FFFFFF;
      }
    
      .logo a:hover{
        color: #00BFFF;
        transition: all 0.2s ease-in-out;
      }

      .cart-icon-mobile{
        display: block;
        padding-right: 24px;
      }
      .navbar-content{
        display: flex;
        flex-direction: column;
        padding: 0px;
        padding-top: 20px;
        margin: 0;
        padding-left: 0px;
      }

      nav ul{
        align-items: start;
        padding: 0px;
      }
      .cart-icon-listitem{
        display:none
      }
      
      .main-links{
        display: flex;
        flex-direction: column;
      }
    
      .list-items {
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.05em;
        padding:24px 40px;
        margin: 0px;
        color: #f9f8f8;
        display: flex;
        flex-direction: column;
        justify-content: start;
        font-weight: 600;
        font-size: 20px;
      }


    
      .list-items:after {    
        background: none repeat scroll 0 0 transparent;
        bottom: 0;
        content: "";
        display: block;
        height: 2px;
        left: 50%;
        position: absolute;
        background:#00BFFF;
        transition: width 0.3s ease 0s, left 0.3s ease 0s;
        width: 0;
      }
    
     .list-items:hover:after { 
        width: 0%; 
        left: 0; 
      }
    
      .list-items:hover{
        transition: all 0.2s ease-in-out;
        color: #FFFFFF;
        background-color: #059bcd;
      }
    
      .login-logout{
        display: none;
    }

    .cart-text{
        display: block;
    }
    .signin-btn{
        background-color: #009acd;
        color: #FFFFFF;
        padding: 12px 18px;
        border-radius: 8px;
        text-transform: uppercase;
        text-decoration: none;
        letter-spacing: 0.05em;
        display: inline-block;
        font-weight: 600;
        font-size: 16px;
    }
    
    #signin-btn{
        display: none;
        border-right: none;
    }
    .checkbtn{
      display: block;
      color: #FFFFFF;
      
    }
    .checkbtn i{
        padding-left: 24px;
    }
    ul{
      position: fixed;
      width: auto;
      height: 100vh;
      background: #2c3e50;
      top: 80px;
      left: -100%;
      text-align: start;
      transition: all .5s;
    }
    #check:checked ~ ul{
      left: 0;
    }
  }
  section{
    background: url(bg1.jpg) no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);
  }
/* Navbar css end */



/*HEader section PC css*/

.contactus-header{
    width: 100%;
    height: 400px;
    position: relative;
    text-align: center;
    color: white;
    top:45px;
}

.contactus-header img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.contactus-header::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(67, 66, 81, 0.589), rgba(57, 55, 55, 0.484));
    z-index: 1;
}

.contactus-heading{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    font-size: 72px;
    font-weight: 700;
}

@media (max-width:768px){
    .contactus-header{
        width: 100%;
        height: 300px;
        position: relative;
        text-align: center;
        color: white;
        top:45px;
    }
    
    .contactus-header img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .contactus-header::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(to bottom, rgba(67, 66, 81, 0.589), rgba(57, 55, 55, 0.484));
        z-index: 1;
    }
    
    .contactus-heading{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 2;
        font-size: 54px;
        font-weight: 700;
    }
}

/*Header Css end*/


.contactus-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 40px 160px;
    margin-top: 80px;
}

.contact-form-div{
    padding: 16px 36px;
    background: linear-gradient(90deg, rgba(3,101,145,1) 0%, rgba(2,164,219,1) 100%); 
    border-radius: 15px;
}

.contact-form{
    padding: 16px 32px;
    color: #FFFFFF;
}

.form-heading{
    font-size: 42px;
    font-weight: 700;
    color: #05051f;
    padding: 16px 0px;
    color: #FFFFFF;
}


.form-row {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.form-group {
    flex: 1;
    margin-right: 10px;
    margin-bottom: 16px;
}

.form-group:last-child {
    margin-right: 0;
}

.form-group label {
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
}

.form-group input,
.form-group textarea {
    color: #05051f;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-family: Noto Sans;
    font-size: 14px;
}


.submit-btn {
    background-color:#FFFFFF ;
    width: 40%;
    color: #05051f;
    border: none;
    padding: 10px 16px;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.submit-btn:hover {
    background-color: #c9c9c9;
    transition: all 0.2s ease-in-out;
}

.submit-text{
    font-family: Raleway;
    font-size: 20px;
    font-weight: 600;
    letter-spacing:0.04em;
}

.other-contact-info{
    padding: 16px 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 60px;
}

.info-content{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.info-icon{
    background: linear-gradient(90deg, rgba(94,200,247,1) 0%, rgba(2,164,219,1) 100%);
    border-radius: 40px;
}

#info-icons{
    font-size: 30px;
    padding: 12px;
    color: #FFFFFF;
}

.main-info{
    padding:24px 16px;
}

.info-title{
    font-size: 20px;
    padding-bottom: 14px;
    font-weight: 500;
    letter-spacing: 0.02em;
}

.info-detail{
    font-size: 24px;
    font-weight: 600;
}

.info-detail:hover{
    color: #009acd;
    cursor: pointer;
}

@media (max-width:768px){
    .contactus-container{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin: 40px ;
        margin-top: 80px;
    }
    
    .contact-form-div{
        padding: 16px 28px;
        background:  linear-gradient(90deg, rgba(3,101,145,1) 0%, rgba(2,164,219,1) 100%);; 
        border-radius: 15px;
    }
    
    .contact-form{
        padding: 16px 28px 6px 28px;
        color: #FFFFFF;
    }
    
    .form-heading{
        font-size: 42px;
        font-weight: 700;
        color: #05051f;
        padding: 16px 0px;
        color: #FFFFFF;
    }
    
    #heading-highlight{
        color: #00BFFF;
    }
    
    .form-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 15px;
    }
    
    .form-group {
        flex: 1;
        margin-right: 10px;
        margin-bottom: 16px;
    }
    
    .form-group:last-child {
        margin-right: 0;
    }
    
    .form-group label {
        display: block;
        margin-bottom: 8px;
        font-weight: 500;
    }
    
    .form-group input,
    .form-group textarea {
        color: #05051f;
        width: 100%;
        padding: 10px;
        border: 1px solid #ccc;
        border-radius: 6px;
        font-family: Noto Sans;
        font-size: 14px;
    }
    
    
    .submit-btn {
        background: #FFFFFF;
        width: 80%;
        color: #05051f;
        border: none;
        padding: 10px 16px;
        border-radius: 4px;
        cursor: pointer;
        margin: 0px 34px;
        margin-top: 8px;        
    }
    
    .submit-btn:hover {
        background-color: #c9c9c9;
        transition: all 0.2s ease-in-out;
    }
    
    .submit-text{
        font-family: Raleway;
        font-size: 20px;
        font-weight: 600;
        letter-spacing:0.04em;
    }
    
    .other-contact-info{
        padding: 16px 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-right: 60px;
    }
    
    .info{
        display: flex;
        flex-direction: row;
        align-items: center;
    }
    
    .info-icon{
        background: linear-gradient(90deg, rgba(94,200,247,1) 0%, rgba(2,164,219,1) 100%); 
        border-radius: 40px;
    }
    
    #info-icons{
        font-size: 30px;
        padding: 12px;
        color: #FFFFFF;
    }
    
    .main-info{
        padding:24px 16px;
    }
    
    .info-title{
        font-size: 20px;
        padding-bottom: 14px;
        font-weight: 500;
        letter-spacing: 0.02em;
    }
    
    .info-detail{
        font-size: 24px;
        font-weight: 600;
    }
    
    .info-detail:hover{
        color: #009acd;
        cursor: pointer;
    }
}

/* Reviews Sectio CSS  Desktop*/
.reviews-section{
    display: flex;
    flex-direction: column;
    padding: 40px;
}

.reviews-heading{
    font-size: 42px;
    font-weight: 600;
    padding-bottom: 40px;
    text-align: center;
}
.learner-text{
    color: #00BFFF;
}

.reviews-container{
    display: flex;
    flex-direction: row;
}

.review-card{
    display: flex;
    flex-direction: column;
    padding: 16px;
    background-color: #FFFFFF;
    border: 2px #d1cece97 solid;
    width: 400px;
    min-height: 240px;
    margin:0px 16px;
    border-radius: 5px;
}

.review-card:hover{
    transition: all 0.3s ease-in-out;
    border-color: #00bfffa0;
    box-shadow: rgba(92, 201, 241, 0.326) 0px 3px 8px;
}


.student-info{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 20px;
}

.student-img{
    width: 60px;
    height: 60px;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 0;
    overflow: hidden;
    margin-right: 12px;
}

.student-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.student-detail{
    display: flex;
    flex-direction: column;
}

.student-name{
    font-size: 24px;
    font-weight: 500;
    padding-bottom: 2px;
}

.student-learnings{
    font-size: 16px;
    font-weight: 350;
    color: #5f5c5c;
}

.student-review{
    font-size: 16px;
    line-height: 24px;

}

@media (max-width:768px){
    .reviews-section{
        display: flex;
        flex-direction: column;
        padding: 40px;
    }
    
    .reviews-heading{
        font-size: 42px;
        font-weight: 600;
        padding-bottom: 40px;
        text-align: start;
        padding-left:16px ;
    }
    .learner-text{
        color: #00BFFF;
    }
    
    .reviews-container{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .review-card{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        padding: 16px;
        background-color: #FFFFFF;
        border: 2px #d1cece97 solid;
        width: 450px;
        min-height: 240px;
        margin:16px;
        border-radius: 5px;
    }
    
    .review-card:hover{
        transition: all 0.3s ease-in-out;
        border-color: #00bfffa0;
        box-shadow: rgba(92, 201, 241, 0.326) 0px 3px 8px;
    }
    
    
    .student-info{
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 20px;
    }
    
    .student-img{
        width: 60px;
        height: 60px;
        border-radius: 40px;
        display: flex;
        justify-content: center;
        text-align: center;
        margin-top: 0;
        overflow: hidden;
        margin-right: 12px;
    }
    
    .student-img img{
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    
    .student-detail{
        display: flex;
        flex-direction: column;
    }
    
    .student-name{
        font-size: 24px;
        font-weight: 500;
        padding-bottom: 2px;
    }
    
    .student-learnings{
        font-size: 16px;
        font-weight: 350;
        color: #5f5c5c;
    }
    
    .student-review{
        font-size: 16px;
        line-height: 24px;
    
    }
}

/*News Letter CSS*/

.newsletter-section{
    background: linear-gradient(90deg, rgba(13,5,130,1) 0%, rgba(61,50,237,1) 100%);
    margin: 24px 160px;
    border-radius: 12px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}


.news-letter-heading{
    display: flex;
    flex-direction: column;
    padding-bottom: 28px;
}

.newsletter-h1{
    color:#FFFFFF;
    font-size: 32px;
    font-weight: 600;
    padding-bottom: 6px;
}

.newsletter-desc{
    color: #eeebeb;
    font-size: 18px;

}

.newsletter-form-div{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.newsletter-form{
    display: flex;
    flex-direction: row;
}

.newsletter-email{
    padding: 14px 8px;
    width: 300px;
    border: 0px;
    border-top-left-radius:8px ;
    border-bottom-left-radius: 8px;
    font-size: 16px;
    font-family: Noto Sans;
}


.newsletter-submit-btn{
    padding: 12px;
    border:0px;
    border-top-right-radius:8px ;
    border-bottom-right-radius: 8px;
    width: 120px;
    background-color: #00BFFF;
}

.newsletter-submit-btn:hover{
    cursor: pointer;
    background-color: #009acd;
}

.subscribe-text{
    font-size: 16px;
    font-family: Noto Sans;
    font-weight: 500;
    letter-spacing: 0.01em;
    color: #05051f;
    text-transform: uppercase;
}

@media (max-width:768px) {
    .newsletter-section{
        background: linear-gradient(90deg, rgba(13,5,130,1) 0%, rgba(61,50,237,1) 100%);
        margin: 24px 0px 0px 0px;
        border-radius: 0px;
        padding: 24px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }
    
    
    .news-letter-heading{
        display: flex;
        flex-direction: column;
        padding-bottom: 28px;
    }
    
    .newsletter-h1{
        color:#FFFFFF;
        font-size: 32px;
        font-weight: 600;
        padding-bottom: 6px;
    }
    
    .newsletter-desc{
        color: #eeebeb;
        font-size: 18px;
    
    }
    
    .newsletter-form-div{
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    
    .newsletter-form{
        display: flex;
        flex-direction: row;
        padding-bottom: 16px;
    }
    
    .newsletter-email{
        padding: 14px 8px;
        width: 300px;
        border: 0px;
        border-top-left-radius:8px ;
        border-bottom-left-radius: 8px;
        font-size: 16px;
        font-family: Noto Sans;
    }
    
    
    .newsletter-submit-btn{
        padding: 12px;
        border:0px;
        border-top-right-radius:8px ;
        border-bottom-right-radius: 8px;
        width: 120px;
        background-color: #00BFFF;
    }
    
    .newsletter-submit-btn:hover{
        cursor: pointer;
        background-color: #009acd;
    }
    
    .subscribe-text{
        font-size: 16px;
        font-family: Noto Sans;
        font-weight: 500;
        letter-spacing: 0.01em;
        color: #05051f;
        text-transform: uppercase;
    }
}

/*Footer CSS Desktop*/
.footer{
    background-color: #010b2e;
    padding: 24px px;
}

.footer-main-content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px #5f5c5c solid;
    padding: 24px 200px;
}

.footer-content{
    padding: 8px 40px 8px 16px;    
}

.footer-content-header{
    padding-bottom: 20px;
    font-size: 26px;
    font-weight: 550;
    color: #FFFFFF;
}

.footer-content-links{
    padding-bottom: 10px;
    font-size: 16px;
    font-weight: 350;
}

.footer-content-links a{
    text-decoration: none;
    color: #aba9a9;
    transition: all 0.2s ease-in-out;
}

.footer-content-links a:hover{
    color: #FFFFFF;
}

.page-info{
    display: flex;
    flex-direction: column;
    color: #FFFFFF;
}

.footer-logo{
    font-size: 40px;
    font-weight: 700;
    color: #00BFFF;
    padding-bottom: 16px;
}

.contact-info{
    display: flex;
    flex-direction: column;
    font-size: 16px;
    color: #aba9a9;
    padding-bottom: 16px;
}

.info{
    padding-bottom: 10px;
}

.info:hover{
    color: #FFFFFF;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

.social-links{
    display: flex;
    flex-direction: row;
}

.social-link{
    margin-right: 20px;
}
.social-link:hover a{
    color: #00BFFF;
    transition: all 0.2s ease-in-out;

}

.social-link a{
    text-decoration: none;
    color: #aba9a9;
    font-size: 24px;
    padding: 8px;
}

.copywright-content{
    text-align: center;
    padding: 16px;
}

.copywright-text{
    color: #aba9a9;
    font-size: 15px;
}

/*Footer CSS phone*/
@media (max-width:768px){
    .footer{
        background-color: #010b2e;
        padding: 24px px;
    }
    
    .footer-main-content{
        display: flex;
        flex-direction: column;
        border-bottom: 1px #5f5c5c solid;
        padding: 24px;
    }
    
    .footer-content{
        padding: 8px 40px 8px 16px;    
    }
    
    .footer-content-header{
        padding-bottom: 20px;
        font-size: 30px;
        font-weight: 550;
        color: #FFFFFF;
    }
    
    .footer-content-links{
        padding-bottom: 10px;
        font-size: 18px;
        font-weight: 350;
    }
    
    .footer-content-links a{
        text-decoration: none;
        color: #aba9a9;
        transition: all 0.2s ease-in-out;
    }
    
    .footer-content-links a:hover{
        color: #FFFFFF;
    }
    
    .page-info{
        display: flex;
        flex-direction: column;
        color: #FFFFFF;
        padding-top: 16px;
    }
    
    .footer-logo{
        font-size: 46px;
        font-weight: 700;
        color: #00BFFF;
        padding-bottom: 16px;
    }
    
    .contact-info{
        display: flex;
        flex-direction: column;
        font-size: 18px;
        color: #aba9a9;
        padding-bottom: 16px;
    }
    
    .info{
        padding-bottom: 10px;
    }
    
    .info:hover{
        color: #FFFFFF;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
    }
    
    .social-links{
        display: flex;
        flex-direction: row;
    }
    
    .social-link{
        margin-right: 20px;
    }
    .social-link:hover a{
        color: #00BFFF;
        transition: all 0.2s ease-in-out;
    
    }
    
    .social-link a{
        text-decoration: none;
        color: #aba9a9;
        font-size: 26px;
        padding: 8px;
    }
    
    .copywright-content{
        text-align: center;
        padding: 18px;
    }
    
    .copywright-text{
        color: #aba9a9;
        font-size: 18px;
    }
    
}